In [1]:
#numeric
# character/string
# boolean

In [2]:
9

9

In [3]:
9.7

9.7

In [8]:
's"s"ss'

's"s"ss'

In [5]:
"tttttt"

'tttttt'

In [7]:
"ram's car"

"ram's car"

In [9]:
True

True

In [10]:
False

False

In [14]:
a = 9

In [15]:
a

9

In [16]:
stri = 'ram'

In [17]:
stri

'ram'

In [19]:
bol = True

In [20]:
bol

True

In [23]:
type(a)

int

In [24]:
a=8
b=9

In [25]:
a

8

In [26]:
b

9

In [27]:
x,y = 10,20

In [28]:
x

10

In [29]:
y

20

In [44]:
print(True,66,'str')

True 66 str

In [45]:
print(a,stri,bol)

9 ram True

In [49]:
nm = 'sita'
age=32

In [53]:
print('Hi I am {name}, I am {a} yrs old. {name} lives in delhi'.format(a=age,name=nm))

Hi I am sita, I am 32 yrs old. sita lives in delhi

In [54]:
print(nm)

sita

In [55]:
nm

'sita'

In [58]:
l = [7,8,9,10]

In [59]:
type(l)

list

In [60]:
l

[7, 8, 9, 10]

In [61]:
l = [7,True,'yyy']

In [62]:
l

[7, True, 'yyy']

In [79]:
l1 = [l,[8],[3,4,5]]

In [80]:
type(l1)

list

In [81]:
l1

[[7, True, 'yyy'], [8], [3, 4, 5]]

In [69]:
l

[7, True, 'yyy']

In [70]:
l[0]

7

In [71]:
l[2]

'yyy'

In [75]:
l1[0][2]

'yyy'

In [83]:
l1[1][0]

8

In [84]:
l = [2,3,5,7,1,6,9]

In [85]:
l[3]

7

In [88]:
l[2:5]

[5, 7, 1]

In [89]:
l[1:4]

[3, 5, 7]

In [93]:
l[::-1]

[9, 6, 1, 7, 5, 3, 2]

In [94]:
s = 'rahul gandhi'

In [95]:
s[6:]

'gandhi'

In [97]:
s[::-1]

'ihdnag luhar'

In [108]:
t = (2,3,5,6,l)

In [111]:
t[4][3] = 9999

In [119]:
s= 'sita'

In [117]:
t = (11,s)

In [100]:
t[1:]

(3, 5, 6)

In [101]:
t[-1]

6

In [104]:
l[3] = 7777

In [105]:
l

[2, 3, 5, 7777, 1, 6, 9]

In [107]:
t[2] = 7777

TypeError: 'tuple' object does not support item assignment

In [2]:
type({1,2,3})

set

In [3]:
s = {1,2,3}

In [5]:
s = {1,1,1,2,2,3,3,3,3}

In [6]:
s

{1, 2, 3}

In [7]:
s1 = {1,2,3,4}

In [8]:
s2 = {2,3,4,5}

In [9]:
s1-s2

{1}

In [10]:
s2-s1

{5}

In [11]:
l = [1,2,3,4]

In [13]:
type(l)

list

In [15]:
set(l)

{1, 2, 3, 4}

In [16]:
l1=[1,2,3,4,5]
l2=[2,3,3,3,4,5]

In [18]:
set(l1) - set(l2)

{1}

In [20]:
list(set(l2))

[2, 3, 4, 5]

In [29]:
a = {'a':888,'b':'aa',99:{2,3,4}}

In [28]:
a['b']

'aa'

In [26]:
d[99][1]

2

In [30]:
d = {'a':{'pp':[77,(77,88,'rahul gandhi')]}}

In [31]:
d

{'a': {'pp': [77, (77, 88, 'rahul gandhi')]}}

In [39]:
d['a']['pp'][1][2][6:]

'gandhi'

In [40]:
9 + 6

15

In [41]:
8-3

5

In [42]:
5 / 3

1.6666666666666667

In [43]:
2*2

4

In [44]:
2**2

4

In [45]:
4%2

0

In [46]:
5%2

1

In [47]:
7%4

3

In [48]:
l

[1, 2, 3, 4]

In [49]:
l1

[1, 2, 3, 4, 5]

In [50]:
l + l1

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [51]:
'ram'+ 'rahul'

'ramrahul'

In [52]:
7 == 4

False

In [53]:
7!=9

True

In [54]:
6 > 4

True

In [55]:
6>=4

True

In [56]:
7<=5

False

In [57]:
7 < 5

False

In [61]:
(7 > 8 ) & (8 > 5)

False

In [59]:
(7 > 8 ) & (8 > 5)

False

In [62]:
l

[1, 2, 3, 4]

In [81]:
tmp = 55

if tmp > 60:
    print('hot')
elif tmp > 50:
    print('very hot')
else:
    print('cold')

very hot

In [85]:
x= 0
while x<10:    
    x=x+1
    print(x)
    if x == 5:
        break

1
2
3
4
5

In [99]:
range(9,15)[::-1]

range(14, 8, -1)

In [100]:
for i in range(14,8,-1):
    print(i)

14
13
12
11
10
9

In [93]:
l1 = [4,2,5,1,6,22]

In [94]:
for i in l1:
    print(i)

4
2
5
1
6
22

In [102]:
s= 'rahul gandhi'
for i in s:
    print(i)

r
a
h
u
l

g
a
n
d
h
i

In [104]:
l.append(77)

In [105]:
l

[1, 2, 3, 4, 77]

In [107]:
l1=[]

for i in l:
    l1.append(i**2)

In [108]:
l1

[1, 4, 9, 16, 5929]

In [111]:
l2 = []

In [112]:

for i in l:
    if i % 2 !=0:
        l2.append(i)

In [113]:
l2

[1, 3, 77]

In [115]:
'aaaa#bbb#ccc'.split('#')

['aaaa', 'bbb', 'ccc']

In [116]:
'a b c'.split()

['a', 'b', 'c']

In [117]:
l = ['aaa@gmail.com','bb@yahoo.com','cccc@aol.com']

In [121]:
'cccc@aol.com'.split('@')[1]

'aol.com'

In [118]:
l2 = []
for i in l:
    l2.append(i.split('@')[1])

In [119]:
l2

['gmail.com', 'yahoo.com', 'aol.com']

In [123]:
l = [1,2,3,4]

In [124]:
l2 = []
for i in l:
    l2.append(i**2)

In [125]:
l2

[1, 4, 9, 16]

In [126]:
[i**2 for i in l]

[1, 4, 9, 16]

In [139]:
def fun(var=''):
    print('hello',var)

In [142]:
fun()

hello

In [143]:
def fun2(x):
    return x**2

In [145]:
fun2(2)

4

In [147]:
def sum2(x,y):
    return x+y

In [148]:
sum2(9,8)

17

In [160]:
x= 99
def fun(var):
    
    x=var
    print(x)
    
    

print(x)
fun(55)
print(x)

99
55
99

In [167]:
def prime(var):
    flag='prime'
    for i in range(2,var):
        if var%i ==0:
            flag='not prime'
            break
    print(flag)

In [169]:
prime(30)

not prime

In [170]:
'sss'.upper()

'SSS'

In [171]:
'TYY'.lower()

'tyy'

In [173]:
d.keys()

dict_keys(['a'])

In [174]:
d.values()

dict_values([{'pp': [77, (77, 88, 'rahul gandhi')]}])

In [175]:
d.items()

dict_items([('a', {'pp': [77, (77, 88, 'rahul gandhi')]})])

In [176]:
l = [1,2,3,4]
l1 = 'a b c d'.split()

In [177]:
l

[1, 2, 3, 4]

In [178]:
l1

['a', 'b', 'c', 'd']

In [181]:
list(zip(l1,l))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [182]:
7**4

2401

In [183]:
s = "Hi there Sam!"

In [184]:
s.split()

['Hi', 'there', 'Sam!']

In [185]:
planet = "Earth"
diameter = 12742

In [186]:
print('The diameter of {a} is {b} kilometers.'.format(a=planet,b=diameter))

The diameter of Earth is 12742 kilometers.

In [187]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [188]:
lst[3][1][2]

['hello']

In [189]:
lst[3][2]

23

In [190]:
lst[3]

[5, [100, 200, ['hello']], 23, 11]

In [193]:
lst[3][1][2][0]

'hello'

In [194]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [196]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [202]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [203]:
def domainget(var):
    return(var.split('@')[1])

In [204]:
domainget('abc@gmail.com')

'gmail.com'

In [207]:
def fun(x):
    return('dog' in x.lower().split())

In [209]:
fun('it is a dig')

False

In [211]:
3 in [3,4,5]

True

In [212]:
def fun(x):
    count=0
    for i in x.lower().split():
        if i == 'dog':
            count=count+1
    return(count)

In [215]:
fun('This do runs d1g than the other do dude!')

0